.logo{
    height: 40px;
    width: 37px;
    /* padding-bottom: ; */
}
ul li{
    color: white;
}
#first{
    /* background-color: black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 200px;
    margin-left: 140px;
    height: 100%;
    margin-top: 16px;
    
}
.side{
    background-color: black;
    width: 405px;
    align-items: center;
    height: 100vh;
}

.tnav ul li{
    padding: 10px;
}
li:hover, .user:hover{
    background-color: #f0f0f020;
    border-radius: 25px;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}
.tnav{
    margin-top: 10px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;

}
.post{
    
    width: 225px;
    height: 50px;
   
    font-size: 18px;
}
.button{
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 9999px;
    font-family: inherit;
    font-weight: 700;
}
.post:hover,.sb:hover{
    background-color: rgba(41, 139, 205, 0.953);
    transition: background-color 0.3s ease;
}
.list-space{
    display: flex;
    align-items: center;
    
}
.list-space i{
    padding-right: 15px;
}
.user{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 45px;
}
.names{ 
    color: white;
    text-align: left;
    
}


.pp{
    height: 40px;
    width: 40px;
}
.dot{
    color: white;
}

/* ===================================================================== */
.second{
    display: flex;
    flex-direction: column;
width: 600px;
margin-left: 405px;
height: 100%;
border: 1px solid rgba(245, 245, 245, 0.401);
}
.top{
    background-color: black;
    backdrop-filter: blur(4px);
    justify-content: space-between;
    color: white;
    height: 50px;
    width: 598px;
    align-items: center;
    border-bottom: 1px solid rgba(245, 245, 245, 0.401);;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    position: fixed;
}
.settings{
    width: 50px;
}
.for{
    text-align: center;
    width: 100%;
    height: 100%;
}
.for p, .settings span{
    margin: 10px;
}
.for:hover, .settings:hover{
    background-color: #f0f0f020;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}
.settings{ 
    text-align: center;
}
.posthead,.userpost{
    display: flex;
}
.userpost{
    padding: 10px;
    border-top: 1px solid rgba(245, 245, 245, 0.401);
    border-bottom: 1px solid rgba(245, 245, 245, 0.401);;
    
}
.userpost:hover{
    opacity: 0.8;
}
.namep{
    display: flex;
    width: 70%;
}
.namep div{
    padding-left: 10px;
}
.posting{
    text-align: left;
    width: 92%;
}
.postimg img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 10px;
}

.reaction ul{
    /* color:rgba(245, 245, 245, 0.401); */
    display: flex;
    justify-content: space-between;
}
.sathmein ul li{
    padding-left: 5px;
}
.reaction ul li{
    color:rgba(245, 245, 245, 0.401);
}

/* ======================================================================== */
.third{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    margin-left: 1000px;
}

.third::-webkit-scrollbar{
    width: 10px;
}
.third::-webkit-scrollbar-track{
    background: white;
}
.third::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(63, 112, 210), rgb(0, 255, 251));
}
.searchbox{
    width: 348px;
    height: 42px;
    background-color: rgb(32, 35, 39);
    border-radius: 50px;
    /* text-align: center; */
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    position: fixed;
}
.search{
    background-color: rgb(32, 35, 39); 
    text-align: justify;
    margin:8px 8px 2px 2px;
    font-size: medium;
    width: 290px;

}
.searchbox i{
    margin: 10px;
}

.grey-v{
    background-color:  rgb(25, 27, 30);
    color: white;
    font-weight: 600;
    width: 348px;
    margin: 10px 20px 10px ;
    border-radius: 20px;
    text-align: justify;
    padding: 10px 20px;
}
.subscribe{
    margin-top: 64px;
    justify-content: space-between;
}
.whats{
    display: flex;
    flex-direction: column;
}
.head-v{
    font-size: 20px;
    font-weight: 700;

}
.news p{
    color: rgba(128, 128, 128, 0.625);
}
.news{
    padding-top: 20px;
}
.sb{
    width: 100px;
    font-size: 15px;
    margin-top: 10px;
    height: 35px;
}
.uf{
    margin-top: 15px;
}
.namess{
    color: white;
    text-align: left;
    margin-left: 10px;
}
.fb{
    background-color: white;
    color: black;
    width: 80px;
    text-align: center;
    height: 30px;
    margin-left : 50px;
    margin-top: 10px;
}

/* //--------------------------responsiveness----------------------- */
@media (max-width:1268px) and (min-width:728px) {
    .list-space span{
        visibility: hidden;
    }
}